$white             = #FFF
$black             = #000
$bluejeans-dark    = #4A89DC
$bluejeans-light   = #5D9CEC
$aqua-dark         = #3BAFDA
$aqua-light        = #4FC1E9
$mint-dark         = #37BC9B
$mint-light        = #48CFAD
$grass-dark        = #8CC152
$grass-light       = #A0D468
$sunflower-dark    = #F6BB42
$sunflower-light   = #FFCE54
$bittersweet-dark  = #E9573F
$bittersweet-light = #FC6E51
$grapefruit-dark   = #DA4453
$grapefruit-light  = #ED5565
$lavender-dark     = #967ADC
$lavender-light    = #AC92EC
$pinkrose-dark     = #D770AD
$pinkrose-light    = #EC87C0
$lightgray-dark    = #E6E9ED
$lightgray-light   = #F5F7FA
$mediumgray-dark   = #AAB2BD
$mediumgray-light  = #CCD1D9
$darkgray-dark     = #434A54
$darkgray-light    = #656D78
true1              = #e6e9ed
true2              = #fff
true3              = rgba(0, 0, 0, 0.2)
true4              = #434a54
true5              = #aab2bd
true6              = #000
true7              = #7cd1ef
true8              = #4fc1e9
true9              = #ffdd87
true10             = #ffce54
true11             = #f2838f
true12             = #ed5565
true13             = #b9df90
true14             = #a0d468
true15             = #3bafda
true16             = #2494be
true17             = rgba(0, 0, 0, 0.125)
true18             = #96a0ad
true19             = #269ecb
true20             = #7ab03f
true21             = #efa50b
true22             = #d1293a
true23             = #2fa084
true24             = #ccd1d9
true25             = #37bc9b
true26             = #48cfad
true27             = #8cc152
true28             = #f6bb42
true29             = #da4453
true30             = #fd9883
true31             = #e9573f
true32             = #ee7f6d
true33             = #656d78
true34             = #ededed
true35             = #f4af20
true36             = #22b1e3
true37             = #126d8d
true38             = #87c940
true39             = #537f24
true40             = #ffbf21
true41             = #876000
true42             = #2fb593
true43             = #1a6451
true44             = #e8273b
true45             = #99101f
true46             = #26816a
true47             = #2e9c81
true48             = #2b957a
true49             = #333
true50             = #8c8c8c
true51             = #666
true52             = #1a1a1a
true53             = #bfbfbf
true54             = rgba(0, 0, 0, 0.6)
true55             = #d7f1fa
true56             = #aae1f4
true57             = #ebf6df
true58             = #d2ebb7
true59             = #fffaed
true60             = #ffebba
true61             = rgba(0, 0, 0, 0.175)
true62             = #f5f7fa
true63             = #b8bfc8
true64             = #c7ccd3
true65             = #e7e9ec
$rootblue          = #007bff
$rootindigo        = #6610f2
$rootpurple        = #6f42c1
$rootpink          = #e83e8c
$rootred           = #dc3545
$rootorange        = #fd7e14
$rootyellow        = #ffc107
$rootgreen         = #28a745
$rootteal          = #20c997
$rootcyan          = #17a2b8
$rootwhite         = #fff
$rootgray          = #6c757d
$rootgray-dark     = #343a40
$rootprimary       = #007bff
$rootsecondary     = #6c757d
$rootsuccess       = #28a745
$rootinfo          = #17a2b8
$rootwarning       = #ffc107
$rootdanger        = #dc3545
$rootlight         = #f8f9fa
$rootdark          = #343a40