@import '~$styles/_functions.styl'
@import '~$styles/_variables.styl'

.from
  width 100% !important
  .cardbody
    text-align center
    position relative
    padding-top 4.3rem !important
    .cardbodyImg
      width 8rem !important
      height auto !important
      position absolute
      top -50%
      left calc(50% - 4rem)
      border rem(3) solid white